  .flex-container {
    display: flex; /* Встановлюємо елементи в рядок згідно осі X */
    justify-content: space-between; /* Розташовуємо елементи в рядок зі зміщенням між ними */
    align-items: center; /* Вирівнюємо елементи по вертикалі по центру */
  }
  
  .section {
    flex: 1; /* Розтягуємо елемент на всю доступну ширину контейнера */
    padding: 20px; /* Додаємо відступи для стилізації */
    border: 1px solid #ccc; /* Додаємо рамку для візуального розділення елементів */
  }